@import "tailwindcss";


/* Add custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


button{
  cursor: pointer;
}

/* Toast styles */
.Toastify__toast {
  @apply rounded-lg shadow-lg;
}
.Toastify__toast--success {
  @apply bg-green-500;
}
.Toastify__toast--error {
  @apply bg-red-500;
}